# Content

* [Getting Start with Python](#section1)

* [Python Object and Data Structure Basics](#section2)

  * [Numeric Types](#section2.1)

  * [Strings](#section2.2)

  * [List](#section2.3)

<a id="section1"></a>
# 1. Getting Start with Python

### Basic Practise

Python is an interpreted language. As a consequence, we can use it in two ways:
* Using interpreter as an "advanced calculator" in interactive mode. It menas to open the terminal and invoke the interpreter.

``` python
Python 2.7.12 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:43:17) 
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anaconda.org
>>> 2 + 2
4
>>> print "Hello, Python!"
Hello, Python!
>>> 
```

* Executing programs/scripts saved as a text file, usually with *.py extension:

```bash
$ python my_scrypt.py 
Hello, Python!
```

<a id="section2"></a>
# 2. Python Object and Data Structure Basics



## Data Types

The data stored in memory can be of different types, python has 5 types: __Numbers, Strings, List, Tuple, and Dictionary__. However, the most basic data structure is the __Nonetype__. This is the equivalent of NULL in other languages.

In [5]:
type(None)

NoneType

<a id="section2.1"></a>
## 2.1 Numeric Types

There are four distinct numeric types: __plain integers , long integers, floating point numbers, and complex numbers__. In addition, __Booleans__ are a subtype of plain integers.


* __Plain integers__: They are positive or negative whole numbers with no decimal point (precision $<2^{63}$) e.g. 1 is plain integer.
* __Long integers__: they are integers of unlimited size, written like integers and followed by an uppercase or lowercase L (precision $ \geq 2^{63}$)*. e.g. 1L, -052318172735L.
* __Floating point numbers__: _Represent real numbers_ and are written with a decimal point dividing the integer and fractional parts. Floats may also be in scientific notation, with E or e indicating the power of 10 ($2.5e2 = 2.5E2 = 2.5 x 10^2 = 250$). 
* __Complex numbers__: They of the form $a + bJ$, where $a$ and $b$ are floats and $J$ (or j) represents $ \sqrt(-1)$ (which is an _imaginary number_). The real part of the number is $a$, and the imaginary part is $b$. Complex numbers are not used much in Python programming.
* __Booleans__: Use of binary or logic operations (True, False)

Note: (*) on 64-bit OS X/Linux, sys.maxint = $2^{63-1}$

In [6]:
type(1)

int

In [7]:
type(1L)

long

In [8]:
type(2.5)

float

In [9]:
type(True)

bool

In [10]:
type(1 + 3j)

complex

### Operations

We can perform mathematical calculations in Python using the basic operators +, -, /, *, %

In [11]:
4 + 5

9

In [12]:
4 - 3

1

In [13]:
2**3

8

In [14]:
pow(2,3)

8

In [15]:
# Remainder of a division
10%7

3

In [16]:
-11.0/3

-3.6666666666666665

In [17]:
-11.0//3

-4.0

__Note__: // is the floor division in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero.

In [18]:
3/4

0

Why we get zero? In Python 2.x, where integer divisions will truncate instead of becoming a floating point number. You should make one of them a float:

In [19]:
float(3)/4

0.75

In order to deal with classic division in Python 2.x, we can import a module called **future** which import Python 3 functions into Python 3.

In [20]:
from __future__ import division
3/4

0.75

In Python, the [standard order of operations](https://en.wikibooks.org/wiki/Python_Programming/Basic_Math) are evaluated from left to right following order (memorized by many as PEMDAS):


| Name        | Syntax     | Description  |
| ------------- |:-------------:| :-----|
| **P**arentheses     | ( ... ) | Happening before operating on anything else.|
| **E**xponents     | **  |  An exponent is a simply short multiplication or division, it should be evaluated before them. |
| **M**ultiplication and **D**ivision | * / |  Multiplication is rapid addition and must happen first. |
| **A**ddition and **S**ubtraction | + -  |   . |

In [21]:
# First division and then Multiplication
3/4 * 5

3.75

In [22]:
(3.0 / 4) * 4

3.0

In [23]:
3 + 5 * 4/20 -3

1.0

In [24]:
(3 + 5) * 4/20 -3

-1.4

In [25]:
4 + 6 * 10 + 3

67

In [26]:
(4 + 6) * (10 + 3)

130

Sometimes, you need to force a number explicitly from one type to another to satisfy the requirements of an operator or function parameter. We did already in one example above.

In [27]:
# To convert x to a plain integer int(x).
int(3.4)

3

In [28]:
# To convert x to a plain long integer long(x).
long(3.4)

3L

In [29]:
# To convert x to a float float(x).
float(3)

3.0

In [30]:
# To convert a complex number with real part x and imaginary part zero complex(x).
complex(3.5)

(3.5+0j)

In [31]:
# To convert x and y to a complex number with real part x and imaginary part y complex(x, y).
complex(4.5, 2)

(4.5+2j)

#### Other Operations

In [32]:
# Absolute value or magnitude of x
abs(-34)

34

In [33]:
# Round a number to a given precision in decimal digits (default 0 digits). 
# This always returns a floating point number.
round(3)

3.0

In [34]:
round(3.1415926535,2)

3.14

Python has a built-in math library that is also useful to play around with in case you are ever in need of some mathematical operations. Explore the documentation [here](https://docs.python.org/2/library/math.html)!

#### Comparison operators:


| Operation     | Meaning     |
| :-------------: |:-------------|
| < | Less than|
| > | Greater than|
| <=|	Less than or equal |
|>=	|Greater than or equal |
|==	|Equal|
|!=	|Not equal|
|is|Object identity|
|is not|negated object identity|

In [35]:
3 > 4

False

In [36]:
3 == 3

True

In [37]:
2 < 3

True

In [38]:
3 is not 4

True

In [39]:
4 is 4

True

#### Boolean operations, ordered by ascending priority:
| Operation     | Result     |
| :-------------: |:-------------|
| x **or** y | if x is false, then y, else x|
| x **and** y | if x is false, then x, else y|
|**not** x| f x is false, then True, else False|

In [40]:
True or False

True

In [41]:
True and True

True

In [42]:
not True

False

### Variables Assigments 

Here we will see how to assign names and create variables. We use a single equals sign to assign labels to variables.

In [43]:
# creating an object called "b" and assign a numerical value
b = 3

In [44]:
# Applying a numerical operation to the object
b + b

6

In [45]:
# We can reassign a value to the same varialbe 
b = 13

In [46]:
# Checking the value
b

13

Python lets write over an assigned variable. We can use the variables themselves when reassigning the value:

In [47]:
b = b + b

In [48]:
b

26

In [49]:
b = b + 23

In [50]:
b

49

#### Naming Variables

A good practice when creating a variable name, it is that the name must be informative about the value it will hold. Using variable names can be useful to keep better track of what is going on in pur code. Also, the names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.  (not: anual rate/yes:anula_rate)
3. Can not use any of these symbols :'",<>/?|\()!@#$%^&*~-+
3. It is considered best practice (PEP8) that the names are lowercase.

In [51]:
my_income = 200
tax_rate = 0.3
my_taxes = my_income * tax_rate

In [52]:
# Show my taxes
my_taxes

60.0

### Advanced Numbers

This are a few more representations of numbers in Python

#### Hexadecimal
Using the function **hex()** you can convert numbers into a [hexadecimal](https://en.wikipedia.org/wiki/Hexadecimal) format:

In [53]:
hex(246)

'0xf6'

In [54]:
hex(120)

'0x78'

#### Binary

Using the function **bin()** you can convert numbers into their [binary](https://en.wikipedia.org/wiki/Binary_number) format.

In [55]:
bin(123)

'0b1111011'

In [56]:
bin(24052010)

'0b1011011110000000100101010'

In [57]:
bin(35)

'0b100011'

<a id="section2.2"></a>
## 2.2 Strings

In Python, strings are a set of characters represented in the quotation marks (Python allows for either pair of single or double quotes). Also, we can see them as a *sequence* of characters, which means that Python keeps track of every element in the string as a sequence.

For example,  Python understands the string "contain" as a sequence of characters in a specific order. That will give the ability of use an index to request a specific character of the string (e.g. the first or the second character.

### Creating and Printing String

In [58]:
# Single word using single quote
'Hello'

'Hello'

In [59]:
# Entire phrase
'This is a string to play with happiness'

'This is a string to play with happiness'

In [60]:
# We can also use double quote
'This is another string'

'This is another string'

In [61]:
# How to be careful with quotes
'You're using single quotes that will produce an error'

SyntaxError: invalid syntax (<ipython-input-61-6be544d61b8a>, line 2)

We had an error because the *single quote* inr *You're* stoped the string. Therefore, to be save of errors we can use combinations of single and double quotes in a statement.

In [62]:
"Now you're not going to have probles. Not erros in the string!"

"Now you're not going to have probles. Not erros in the string!"

By using the Jupyter Notebook, we have just typed in a cell a string and get it as output, but the correct way to display strings as an output is by using the **print** function.

In [63]:
print 'Hi Vicky 1'
print 'Hi Vicky 2'
print 'Use \n to print a new line'
print '\n'
print 'Use \t to have a tab in between \n'
print 'See what I mean?'

Hi Vicky 1
Hi Vicky 2
Use
 to print a new line


Use 	 to have a tab in between

See what I mean?

In Python 3, **print** is a function, not a statement. Therefore we will always call the function as **print("Hi Friend!")**. If you want to use the **print()** of Python 3 into Python 3, you must import the **future** module. **Note: Once you import this function, you will not be able to use the print statement, just the print().** Therefore, choose the one you prefer.

In [64]:
# To use print() function from Python 3 in Python 2
from __future__ import print_function

print('Uisng the print function of Python 3 in 2')

Uisng the print function of Python 3 in 2

### Basic Strings

Here we will see some of the basic funcitons related to "strings" objects.

In [65]:
# We use the len() method to check the length of a string
len("How are you today?")

18

In [66]:
# Assign a string to a variable
p = 'I am eating chocolate'

In [67]:
# Checking varaible value
p

'I am eating chocolate'

In [68]:
print(p)

I am eating chocolate

In [69]:
type(p)

str

### String Indexing

Since strings are a sequence of characters, we can use indexes to query a section of the sequence. We use the brackets [] after a string object. The indexing starts at 0 in python.

<img src="Index.png" alt="jupyter" style="width: 500px;"/>

In [70]:
p

'I am eating chocolate'

In [71]:
len(p)

21

In [72]:
# Showing the first element
p[0]

'I'

In [73]:
p[1]

' '

In [74]:
p[2]

'a'

A segment of a string is known as a **slice**. Selecting a slice is similar to choosing a character. We can take this segment by using the slice operator ([] and [:] ) with indexes starting at 0 at the beginning of the string and working their way from -1 to the end.

In [75]:
# Choosing everything passing from index 1 all the way to the length of "p" which is len(p)
p[1:]

' am eating chocolate'

In [76]:
# Choose all UP TO the index 3 (indexes to chose: 0,1,2, that means it is not including the value index 3).
# Therefore, in Python this kind of statements are in the context of "UP TO, but NOT ICLUDING"
p[:3]

'I a'

In [77]:
# Everything
p[:]

'I am eating chocolate'

In [78]:
# Negative indexing, last character (one index behind 0 so it loops back around)
p[-1]

'e'

In [79]:
# Everything but the last character
p[:-1]

'I am eating chocolat'

We can also slice by a specified step size (the default is 1). For instance, we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [80]:
# Choose Everything, but go in steps size of 1
p[::1]

'I am eating chocolate'

In [81]:
# Choose Everything, but go in steps size of 2
p[::2]

'Ia aigcooae'

In [82]:
# We can use this to print a string backwards
p[::-1]

'etalocohc gnitae ma I'

### String Properties
Strings have an important property known as immutability, meaning that once a string is created, the elements within it can not be changed or replaced. For example:

In [83]:
p

'I am eating chocolate'

In [84]:
p[0] = "x"

TypeError: 'str' object does not support item assignment

But something that we can do is to concatenate strings. The plus (+) sign is the string concatenation operator, and the asterisk (\*) is the repetition operator. For example:

In [85]:
# Concatenate strings
p + "and apples"

'I am eating chocolateand apples'

In [86]:
# We can reassign s completely 
p = p + " and apples"

In [87]:
print(p)

I am eating chocolate and apples

In [88]:
# repetition operator
"z" * 10

'zzzzzzzzzz'

### Basic Built-in String methods

A *method* is a function that “belongs to” an object, in this case, "strings" are the objects. In Python, the term method is not unique to class instances: other object types can have methods as well. For example, list objects have methods called append, insert, remove, sort, and so on.  

These methods are functions inside the object that can perform actions or commands on the object itself. We call methods with a period and then the method name, e.g. *object.method(parameters)*, with parameters as extra arguments that can be passed into the method. Don't worry if the details don't make 100% sense right now, when you get to practise it will.

Here we will see some of the basic built-in methods of the "strings" objects.

In [89]:
p

'I am eating chocolate and apples'

In [90]:
# Upper Case a string
p.upper()

'I AM EATING CHOCOLATE AND APPLES'

In [91]:
# Lower case
p.lower()

'i am eating chocolate and apples'

In [92]:
# Split a string by blank space (this is the default)
p.split()

['I', 'am', 'eating', 'chocolate', 'and', 'apples']

In [93]:
# Split by a specific element (doesn't include the element that was split on)
p.split("e")

['I am ', 'ating chocolat', ' and appl', 's']

In [94]:
g = "house; bed; table; glass"

In [95]:
g.split(";")

['house', ' bed', ' table', ' glass']

The output is a **list** cotaining the splitted elements. We will see what is a list in a minute.

In [96]:
g.partition(";")

('house', ';', ' bed; table; glass')

We can use partition to return a **tuple** (we will see what is that includes the separator (the first occurrence) and the first half and the end half.

In [97]:
p = p.lower()

In [98]:
p

'i am eating chocolate and apples'

In [99]:
# Capitalize first word in string
p.capitalize()

'I am eating chocolate and apples'

In [100]:
# Total number of occurrences of "a" in the string
p.count("a")

5

In [101]:
# Index of "a" in the string (first occurence from left to right)
p.index("a")

2

In [102]:
p

'i am eating chocolate and apples'

In [103]:
min(p)

' '

In [104]:
# In alphabetic order
max(p)

't'

In [105]:
# Give index where the string was found firts from left to right
p.find("a")

2

In [106]:
# Returns -1 when it does not find the string, .index raise ValueError
p.find("x")

-1

In [107]:
# Finding string from right to left
" masas asfds Pyhon dfasdf Python asdfasf Python dsafasf".rfind('Python')

41

In [108]:
# Replacing string
" masas asfds Pyhon dfasdf Python asdfasf Python dsafasf".replace('Python', 'Java')

' masas asfds Pyhon dfasdf Java asdfasf Java dsafasf'

In [109]:
# Swapcases
" masas asfds Pyhon dfasdf Python asdfasf Python dsafasf".swapcase()

' MASAS ASFDS pYHON DFASDF pYTHON ASDFASF pYTHON DSAFASF'

#### Sequence Type operations, ordered by ascending priority:
| Operation     | Result     |
| :-------------: |:-------------|
| x in s | True if an item of s is equal to x, else False |
| x not in s | False if an item of s is equal to x, else True |
|s + t| the concatenation of s and t|
|s * n, n * s| equivalent to adding s to itself n times |
|s[i]|ith item of s, origin 0|
|s[i:j]|slice of s from i to j|
|s[i:j:k]|slice of s from i to j with step k|
|len(s)|length of s|
|min(s)|smallest item of s|
|max(s)|largest item of s|
|s.index(x)|index of the first occurrence of x in s|
|s.count(x)|total number of occurrences of x in s|

In the table, s and t are sequences of the same type; n, i and j are integers.

### Printing Formatting 

We can use the .format() method to add formatted objects to printed string statements.

In [110]:
"My name is {0} and I like to eat {1}".format('John', 'oranges')

'My name is John and I like to eat oranges'

In [111]:
"My name is {name} and I like to eat {food}".format(name='John', food='oranges')

'My name is John and I like to eat oranges'

In [112]:
pi = 3.141615

In [113]:
"The value of Pi is {0:.2f} that is a constant in {1}".format(pi,"mathematincs")

'The value of Pi is 3.14 that is a constant in mathematincs'

In [114]:
# Another way to format strings is passing a tupple

"The value of Pi is %.2f that is a constant in %s" % (pi,"mathematincs")

'The value of Pi is 3.14 that is a constant in mathematincs'

You can find more information about strings formatting in the next links: [[1](https://docs.python.org/2/library/stdtypes.html#string-formatting-operations ), [2](https://docs.python.org/2/library/string.html#format-string-syntax), [3](https://pyformat.info)]

### Other Built-in Methods

expandtabs() will expand tab notations \t into spaces:

In [115]:
"hello\t tomorrow \t ok".expandtabs()

'hello    tomorrow        ok'

In [116]:
"sdsd dsd ".center(3, "z")

'sdsd dsd '

```ljust()``` and ```rjust()``` are methods that adds blanck space from the left or right, to match the number of characters give to the method.

In [117]:
"      sasdadfsaf  asdfa asdf a".ljust(40)

'      sasdadfsaf  asdfa asdf a          '

In [118]:
len("      sasdadfsaf  asdfa asdf a".ljust(40))

40

In [119]:
"sdsd sdfsdf sdf dsf".rjust(30)

'           sdsd sdfsdf sdf dsf'

The ```strip()``` method removes the blanks or specifics characters from the extremes of the strings. Also,  ```lstrip()``` and ```rstrip()``` work similarly as ```strip()``` but it removes the blanks/characters from the left or right correspondingly.

In [120]:
'   spacious   '.strip()

'spacious'

In [121]:
'www.example.com'.strip('cmowz.')

'example'

In [122]:
'   spacious   '.lstrip()

'spacious   '

In [123]:
'   spacious   '.rstrip()

'   spacious'

In [124]:
'   spacious   \t \n'.rstrip()

'   spacious'

### "is" Check Methods
The next methods check if the string fullfils certain characteristics. Lets explore them:

isalnum() will return True if all characters in "p" are alphanumeric.

In [125]:
s = "hellow"

In [126]:
s.isalnum()

True

In [127]:
k = "2343234asdsad"

In [128]:
k.isalnum()

True

In [129]:
f = "sdsdf asdf 2332"

In [130]:
f.isalnum()

False

```isalpha()``` wil return True if all characters in the string are alphabetic

In [131]:
s.isalpha()

True

In [132]:
k.isalpha()

False

In [133]:
f.isalpha()

False

```islower()``` will return True if all cased characters in the string are lowercase and there is at least one cased character in the string, False otherwise.

In [134]:
s.islower()

True

In [135]:
k.islower()

True

In [136]:
f.islower()

True

```isspace()``` will return True if all characters in string are whitespace.

In [137]:
s.isspace()

False

In [138]:
k.isspace()

False

In [139]:
"  ".isspace()

True

```istitle()``` will return True if string is a title cased string and there is at least one character in string, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [140]:
s.istitle()

False

In [141]:
"Pollution".istitle()

True

In [142]:
"Pollution in London".istitle()

False

<a id="section2.3"></a>
## 2.3 List

__Lists__ are the most versatile data types in Python. Lists can be thought of the most general version of a ```sequence``` in Python. A list contains items separated by commas and enclosed within square brackets ([])—similar to arrays in C. A __List__ is an interable object of Python. All the elemnts belonging to a list can be of different data type. Unlike strings, they are **mutable**, meaning the elements inside a list can be changed.

### Creating a List

In [143]:
# Assign a list to an variable named my_list
my_first_list = [1, 2, 3, 4, 5]

In [144]:
my_first_list

[1, 2, 3, 4, 5]

In [145]:
# It can hold different object types
my_first_list = ['A string',23,100.232,'o']

```len()``` function will tell you how many items are in the sequence of the list as for strings.

In [146]:
len(my_first_list)

4

### Slicing & Indexing

It works as in the case of strings. Let's remeber and create another list called "cheeses.

<img src="List.png" alt="jupyter" style="width: 500px;"/>

In [148]:
cheeses = ['Chedar', 'Edam', 'Gouda']

In [149]:
# Getting the elements in the list
cheeses[0]

'Chedar'

In [150]:
cheeses[1]

'Edam'

In [151]:
cheeses[2]

'Gouda'

In [153]:
# Give all exept the one with index 3 (indexes are 0, 1, 2; It means up to the third index that is 2)
cheeses[:3]

['Chedar', 'Edam', 'Gouda']

In [154]:
# Grab index 1 and everything past it
cheeses[1:]

['Edam', 'Gouda']

We can also use "+" to concatenate lists like we did for strings.

In [155]:
cheeses + ["Parmegiano", "Grouyer"]

['Chedar', 'Edam', 'Gouda', 'Parmegiano', 'Grouyer']

In [156]:
# But this action didn't changed the orignal list
cheeses

['Chedar', 'Edam', 'Gouda']

In [157]:
# To make a permanet change in the list we can reassign it
cheeses = cheeses + ["Parmegiano", "Grouyer"]

In [158]:
cheeses

['Chedar', 'Edam', 'Gouda', 'Parmegiano', 'Grouyer']

In [159]:
# Make the list double with * 
cheeses * 2

['Chedar',
 'Edam',
 'Gouda',
 'Parmegiano',
 'Grouyer',
 'Chedar',
 'Edam',
 'Gouda',
 'Parmegiano',
 'Grouyer']

In [160]:
# Doubling is not permanent
cheeses

['Chedar', 'Edam', 'Gouda', 'Parmegiano', 'Grouyer']

### Basic Buil-in List Methods

Lists in Python tend to be more flexible than arrays in other languages. They have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above). We will see some common methods to manipulate lists.

In [203]:
# Creating a new list
l = [1, 2, 3, 4, 5]

The **append** method permanently *add items at the end* of a list.

In [204]:
l.append("new element")

In [205]:
l

[1, 2, 3, 4, 5, 'new element']

In [206]:
# assigning to another variable
lm = l

In [207]:
lm.append([3, 4])
print(lm)

[1, 2, 3, 4, 5, 'new element', [3, 4]]

The **extend** method extends the list by **appending elements from the iterable**.

In [208]:
lm = [1, 2, 3, 4, 5, 'new element']
lm

[1, 2, 3, 4, 5, 'new element']

In [209]:
lm.extend([3, 4])
print(lm)

[1, 2, 3, 4, 5, 'new element', 3, 4]

Note how extend append each element in that iterable. That is the key difference between these methods.

In [210]:
# show l
l

[1, 2, 3, 4, 5, 'new element', [3, 4]]

The original list was modified as well by *append* even we use the method in "lm". If you do not want that the original list to be modified you need to make a copy. There are two ways: 1) use a slice 2) use the built-in fucntion **list()**.

In [212]:
# Slicing
lk = l[:]
lk

[1, 2, 3, 4, 5, 'new element', [3, 4]]

In [213]:
lk.append("append")

In [214]:
lk

[1, 2, 3, 4, 5, 'new element', [3, 4], 'append']

In [215]:
l

[1, 2, 3, 4, 5, 'new element', [3, 4]]

In [216]:
# list()
lm = list(l)
lm

[1, 2, 3, 4, 5, 'new element', [3, 4]]

In [217]:
lm.append("append")
lm

[1, 2, 3, 4, 5, 'new element', [3, 4], 'append']

In [218]:
l

[1, 2, 3, 4, 5, 'new element', [3, 4]]

The **pop** method "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off.

In [194]:
# Pop off the 1 indexed item
l.pop(1)

2

In [195]:
l

[1, 3, 4, 5, 'new element', [3, 4]]

In [196]:
# Assign the popped element, remember default popped index is -1
pop_item = l.pop

In [168]:
pop_item()

'new element'

In [169]:
# Show remaining list
l

[1, 3, 4, 5]

In [170]:
# The lists indexing will return an error if there is no element at that index. For example:
l[100]

IndexError: list index out of range

The **sort** method and the **reverse** methods can be also used to effect your lists.

In [172]:
other_list = ['a', 'f', 'x', 'z', 'c', 's']

In [173]:
other_list

['a', 'f', 'x', 'z', 'c', 's']

In [174]:
# Use reverse to reverse order (this is permanent!)
other_list.reverse()

In [175]:
other_list

['s', 'c', 'z', 'x', 'f', 'a']

In [177]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
other_list.sort()

In [178]:
other_list

['a', 'c', 'f', 's', 'x', 'z']

As we already seen for strings, the **count** method takes in an element and returns the number of times it occures in your list.

In [219]:
other_list.count("a")

1

**index** will return the index of whatever element is placed as an argument. If the the element is not in the list an error is returned.

In [222]:
other_list.index("z")

5

In [223]:
other_list.index("d")

ValueError: 'd' is not in list

**insert** takes in two arguments: insert(index,object) This method places the object at the index supplied.

In [224]:
# Place a number at the index 2
other_list.insert(3, 4)

In [225]:
other_list

['a', 'c', 'f', 4, 's', 'x', 'z']

**remove** method removes the first occurrence of a value.

In [226]:
other_list.remove(4)

In [227]:
other_list

['a', 'c', 'f', 's', 'x', 'z']

**reverse** reverses a list. Note this occurs in place. Meaning it effects your list permanently.

In [228]:
other_list.reverse()

In [229]:
other_list

['z', 'x', 's', 'f', 'c', 'a']