# Content

* [Getting Start with Python](#section1)

* [Python Object and Data Structure Basics](#section2)

  * [Numeric Types](#section2.1)

  * [Strings](#section2.2)

  * [List](#section2.3)
  
  * [Tuples](#section2.4)
  
  * [Dictionaries](#section2.5)
  
  * [Practise](#practise)

<a id="section1"></a>
# 1. Getting Start with Python

### Basic Practise

Python is an interpreted language. As a consequence, we can use it in two ways:
* Using interpreter as an "advanced calculator" in interactive mode. It menas to open the terminal and invoke the interpreter.

``` python
Python 2.7.12 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:43:17) 
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anaconda.org
>>> 2 + 2
4
>>> print "Hello, Python!"
Hello, Python!
>>> 
```

* Executing programs/scripts saved as a text file, usually with *.py extension:

```bash
$ python my_scrypt.py 
Hello, Python!
```

<a id="section2"></a>
# 2. Python Object and Data Structure Basics

## Data Types

The data stored in memory can be of different types, python has 5 types: __Numbers, Strings, List, Tuple, and Dictionary__. However, the most basic data structure is the __Nonetype__. This is the equivalent of NULL in other languages.

In [1]:
type(None)

NoneType

<a id="section2.1"></a>
## 2.1 Numeric Types

There are four distinct numeric types: __plain integers , long integers, floating point numbers, and complex numbers__. In addition, __Booleans__ are a subtype of plain integers.


* __Plain integers__: They are positive or negative whole numbers with no decimal point (precision $<2^{63}$) e.g. 1 is plain integer.
* __Floating point numbers__: _Represent real numbers_ and are written with a decimal point dividing the integer and fractional parts. Floats may also be in scientific notation, with E or e indicating the power of 10 ($2.5e2 = 2.5E2 = 2.5 x 10^2 = 250$). 
* __Complex numbers__: They of the form $a + bJ$, where $a$ and $b$ are floats and $J$ (or j) represents $ \sqrt(-1)$ (which is an _imaginary number_). The real part of the number is $a$, and the imaginary part is $b$. Complex numbers are not used much in Python programming.
* __Booleans__: Use of binary or logic operations (True, False)

Note: (*) on 64-bit OS X/Linux, sys.maxint = $2^{63-1}$

In [2]:
type(1)

int

In [8]:
type(2.5)

float

In [9]:
type(True)

bool

In [10]:
type(1 + 3j)

complex

### Operations

We can perform mathematical calculations in Python using the basic operators +, -, /, *, %

In [11]:
4 + 5

9

In [12]:
4 - 3

1

In [13]:
2**3

8

In [14]:
pow(2,3)

8

In [15]:
# Remainder of a division
10 % 7

3

In [16]:
-11.0/3

-3.6666666666666665

In [17]:
-11.0//3

-4.0

__Note__: // is the floor division in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero.

In [18]:
3/4

0.75

Why we get zero? In Python 2.x, where integer divisions will truncate instead of becoming a floating point number. You should make one of them a float:

In [19]:
float(3)/4

0.75

In [20]:
3/float(4)

0.75

In order to deal with classic division in Python 2.x, we can import a module called **future** which import Python 3 functions into Python 3.

In [21]:
from __future__ import division
3/4

0.75

In Python, the [standard order of operations](https://en.wikibooks.org/wiki/Python_Programming/Basic_Math) are evaluated from left to right following order (memorized by many as PEMDAS):


| Name        | Syntax     | Description  |
| ------------- |:-------------:| :-----|
| **P**arentheses     | ( ... ) | Happening before operating on anything else.|
| **E**xponents     | **  |  An exponent is a simply short multiplication or division, it should be evaluated before them. |
| **M**ultiplication and **D**ivision | * / |  Multiplication is rapid addition and must happen first. |
| **A**ddition and **S**ubtraction | + -  |   . |

In [22]:
# First division and then Multiplication
3/4 * 5

3.75

In [23]:
(3.0 / 4) * 4

3.0

In [24]:
3 + 5 * 4/20 -3

1.0

In [25]:
(3 + 5) * 4/20 -3

-1.4

In [26]:
4 + 6 * 10 + 3

67

In [27]:
(4 + 6) * (10 + 3)

130

Sometimes, you need to force a number explicitly from one type to another to satisfy the requirements of an operator or function parameter. We did already in one example above.

In [28]:
# To convert x to a plain integer int(x).
int(3.4)

3

In [31]:
# To convert x to a float float(x).
float(3)

3.0

In [32]:
# To convert a complex number with real part x and imaginary part zero complex(x).
complex(3.5)

(3.5+0j)

In [33]:
# To convert x and y to a complex number with real part x and imaginary part y complex(x, y).
complex(4.5, 2)

(4.5+2j)

#### Other Operations

In [34]:
# Absolute value or magnitude of x
abs(-34)

34

In [35]:
# Round a number to a given precision in decimal digits (default 0 digits). 
# This always returns a floating point number.
round(3.5)

4

In [36]:
round(3.1415926535,2)

3.14

Python has a built-in math library that is also useful to play around with in case you are ever in need of some mathematical operations. Explore the documentation [here](https://docs.python.org/2/library/math.html)!

#### Comparison operators:


| Operation     | Meaning     |
| :-------------: |:-------------|
| < | Less than|
| > | Greater than|
| <=|	Less than or equal |
|>=	|Greater than or equal |
|==	|Equal|
|!=	|Not equal|
|is|Object identity|
|is not|negated object identity|

In [37]:
3 > 4

False

In [38]:
3 == 3

True

In [39]:
2 < 3

True

In [40]:
3 is not 4

True

In [41]:
4 is 4

True

#### Boolean operations, ordered by ascending priority:
| Operation     | Result     |
| :-------------: |:-------------|
| x **or** y | if x is false, then y, else x|
| x **and** y | if x is false, then x, else y|
|**not** x| f x is false, then True, else False|

In [42]:
True or False

True

In [43]:
True and True

True

In [44]:
not True

False

### Variables Assigments 

Here we will see how to assign names and create variables. We use a single equals sign to assign labels to variables.

In [45]:
# creating an object called "b" and assign a numerical value
b = 3
type(b)

int

In [46]:
# Applying a numerical operation to the object
b + b

6

In [47]:
# We can reassign a value to the same varialbe 
b = 13

In [48]:
# Checking the value
b

13

Python lets write over an assigned variable. We can use the variables themselves when reassigning the value:

In [49]:
b = b + b

In [50]:
b

26

In [51]:
b = b + 23

In [52]:
b

49

#### Naming Variables

A good practice when creating a variable name, it is that the name must be informative about the value it will hold. Using variable names can be useful to keep better track of what is going on in pur code. Also, the names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.  (not: anual rate/yes:anula_rate)
3. Can not use any of these symbols :'",<>/?|\()!@#$%^&*~-+
3. It is considered best practice (PEP8) that the names are lowercase.

In [53]:
my_income = 200
tax_rate = 0.3
my_taxes = my_income * tax_rate

In [54]:
# Show my taxes
my_taxes

60.0

### Advanced Numbers

This are a few more representations of numbers in Python

#### Hexadecimal
Using the function **hex()** you can convert numbers into a [hexadecimal](https://en.wikipedia.org/wiki/Hexadecimal) format:

In [55]:
hex(246)

'0xf6'

In [56]:
hex(120)

'0x78'

#### Binary

Using the function **bin()** you can convert numbers into their [binary](https://en.wikipedia.org/wiki/Binary_number) format.

In [57]:
bin(123)

'0b1111011'

In [58]:
bin(24052010)

'0b1011011110000000100101010'

In [59]:
bin(35)

'0b100011'

<a id="section2.2"></a>
## 2.2 Strings

In Python, strings are a set of characters represented in the quotation marks (Python allows for either pair of single or double quotes). Also, we can see them as a *sequence* of characters, which means that Python keeps track of every element in the string as a sequence.

For example,  Python understands the string "contain" as a sequence of characters in a specific order. That will give the ability of use an index to request a specific character of the string (e.g. the first or the second character.

### Creating and Printing Strings

In [60]:
# Single word using single quote
'Hello'

'Hello'

In [61]:
# Entire phrase
'This is a string to play with happiness'

'This is a string to play with happiness'

In [62]:
# We can also use double quote
'This is another string'

'This is another string'

In [65]:
# How to be careful with quotes
'You're using single quotes that will produce an error'

SyntaxError: invalid syntax (<ipython-input-65-3d386d82c1c2>, line 2)

In [66]:
"'sdfsd \""

'\'sdfsd "'

We had an error because the *single quote* inr *You're* stoped the string. Therefore, to be save of errors we can use combinations of single and double quotes in a statement.

In [67]:
"Now you're not going to have probles. Not erros in the string!"

"Now you're not going to have probles. Not erros in the string!"

By using the Jupyter Notebook, we have just typed in a cell a string and get it as output, but the correct way to display strings as an output is by using the **print** function.

In [68]:
print 'Hi Vicky 1'
print 'Hi Vicky 2'
print 'Use \n to print a new line'
print '\n'
print 'Use \t to have a tab in between \n'
print 'See what I mean?'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hi Vicky 1')? (<ipython-input-68-a28ee577b9b9>, line 1)

In Python 3, **print** is a function, not a statement. Therefore we will always call the function as **print("Hi Friend!")**. If you want to use the **print()** of Python 3 into Python 3, you must import the **future** module. **Note: Once you import this function, you will not be able to use the print statement, just the print().** Therefore, choose the one you prefer.

In [69]:
# To use print() function from Python 3 in Python 2
from __future__ import print_function

print('Uisng the print function of Python 3 in 2')
print "sdsdfdf"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("sdsdfdf")? (<ipython-input-69-d0ad92571b4d>, line 5)

### Basic Strings

Here we will see some of the basic funcitons related to "strings" objects.

In [70]:
# We use the len() method to check the length of a string
len("How are you today?")

18

In [71]:
# Assign a string to a variable
p = 'I am eating chocolate'

In [72]:
# Checking varaible value
print(p)
type(p)

I am eating chocolate

str

In [73]:
print(p)

I am eating chocolate

In [74]:
type(p)

str

### String Indexing

Since strings are a sequence of characters, we can use indexes to query a section of the sequence. We use the brackets [] after a string object. The indexing starts at 0 in python.

<img src="Index.png" alt="jupyter" style="width: 500px;"/>

In [75]:
p

'I am eating chocolate'

In [76]:
len(p)

21

In [77]:
# Showing the first element
p[0]

'I'

In [78]:
p[1]

' '

In [79]:
p[2]

'a'

A segment of a string is known as a **slice**. Selecting a slice is similar to choosing a character. We can take this segment by using the slice operator ([] and [:] ) with indexes starting at 0 at the beginning of the string and working their way from -1 to the end.

In [80]:
# Choosing everything passing from index 1 all the way to the length of "p" which is len(p)
p[1:]

' am eating chocolate'

In [81]:
# Choose all UP TO the index 3 (indexes to chose: 0,1,2, that means it is not including the value index 3).
# Therefore, in Python this kind of statements are in the context of "UP TO, but NOT ICLUDING"
p[:3]

'I a'

In [82]:
# Everything
p[:]

'I am eating chocolate'

In [83]:
# Negative indexing, last character (one index behind 0 so it loops back around)
p[-1]

'e'

In [84]:
# Everything but the last character
p[:-1]

'I am eating chocolat'

We can also slice by a specified step size (the default is 1). For instance, we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [85]:
# Choose Everything, but go in steps size of 1
p[::1]

'I am eating chocolate'

In [86]:
# Choose Everything, but go in steps size of 2
p[::2]

'Ia aigcooae'

In [87]:
# We can use this to print a string backwards
p[::-1]

'etalocohc gnitae ma I'

### String Properties
Strings have an important property known as immutability, meaning that once a string is created, the elements within it can not be changed or replaced. For example:

In [88]:
p

'I am eating chocolate'

In [89]:
p[0] = "x"

TypeError: 'str' object does not support item assignment

But something that we can do is to concatenate strings. The plus (+) sign is the string concatenation operator, and the asterisk (\*) is the repetition operator. For example:

In [90]:
# Concatenate strings
p + " and apples"

'I am eating chocolate and apples'

In [91]:
# We can reassign s completely 
p = p + " and apples"

In [92]:
print(p)

I am eating chocolate and apples

In [93]:
# repetition operator
"z" * 10

'zzzzzzzzzz'

### Basic Built-in String methods

A *method* is a function that “belongs to” an object, in this case, "strings" are the objects. Another way to rephrase is that a method is an operation we can perform on the object (strings in ths case). In Python, the term method is not unique to class instances: other object types can have methods as well. For example, list objects have methods called append, insert, remove, sort, and so on.  

These methods are functions inside the object that can perform actions or commands on the object itself. We call methods with a period and then the method name, e.g. **object.method(arg1,arg2,etc...)**, with parameters as extra arguments that can be passed into the method. Don't worry if the details don't make 100% sense right now, when you get to practise it will.

Here we will see some of the basic built-in methods of the "strings" objects.

In [94]:
p.

SyntaxError: invalid syntax (<ipython-input-94-caa8c61c0771>, line 1)

In [95]:
# Upper Case a string
p.upper()

'I AM EATING CHOCOLATE AND APPLES'

In [96]:
# Lower case
p.lower()

'i am eating chocolate and apples'

In [97]:
# Split a string by blank space (this is the default)
p.split()

['I', 'am', 'eating', 'chocolate', 'and', 'apples']

In [98]:
# Split by a specific element (doesn't include the element that was split on)
p.split("e")

['I am ', 'ating chocolat', ' and appl', 's']

In [99]:
g = "house; bed; table; glass"

In [100]:
g.split(";")

['house', ' bed', ' table', ' glass']

The output is a **list** cotaining the splitted elements. We will see what is a list in a minute.

In [101]:
g.partition(";")

('house', ';', ' bed; table; glass')

We can use partition to return a **tuple** (we will see what is that includes the separator (the first occurrence) and the first half and the end half.

In [102]:
p = p.lower()

In [103]:
p

'i am eating chocolate and apples'

In [104]:
# Capitalize first word in string
p.capitalize()

'I am eating chocolate and apples'

In [105]:
# Total number of occurrences of "a" in the string
p.count("a")

5

In [106]:
# Index of "a" in the string (first occurence from left to right)
p.index("a")

2

In [107]:
p

'i am eating chocolate and apples'

In [108]:
min(p)

' '

In [109]:
# In alphabetic order
max(p)

't'

In [110]:
# Give index where the string was found firts from left to right
p.find("a")

2

In [111]:
# Returns -1 when it does not find the string, .index raise ValueError
p.find("x")

-1

In [112]:
# Finding string from right to left
" masas asfds Pyhon dfasdf Python asdfasf Python dsafasf".rfind('Python')

41

In [113]:
# Replacing string

" masas asfds Pyhon dfasdf Python asdfasf Python dsafasf".replace('Python', 'Java')

' masas asfds Pyhon dfasdf Java asdfasf Java dsafasf'

In [114]:
z = " masas asfds Pyhon dfasdf Python asdfasf Python dsafasf"
w = z.replace('Python', 'Java')

In [115]:
z
w

' masas asfds Pyhon dfasdf Java asdfasf Java dsafasf'

In [116]:
# Swapcases
" masas asfds Pyhon dfasdf Python asdfasf Python dsafasf".swapcase()

' MASAS ASFDS pYHON DFASDF pYTHON ASDFASF pYTHON DSAFASF'

#### Sequence Type operations, ordered by ascending priority:
| Operation     | Result     |
| :-------------: |:-------------|
| x in s | True if an item of s is equal to x, else False |
| x not in s | False if an item of s is equal to x, else True |
|s + t| the concatenation of s and t|
|s * n, n * s| equivalent to adding s to itself n times |
|s[i]|ith item of s, origin 0|
|s[i:j]|slice of s from i to j|
|s[i:j:k]|slice of s from i to j with step k|
|len(s)|length of s|
|min(s)|smallest item of s|
|max(s)|largest item of s|
|s.index(x)|index of the first occurrence of x in s|
|s.count(x)|total number of occurrences of x in s|

In the table, s and t are sequences of the same type; n, i and j are integers.

### Printing Formatting 

We can use the .format() method to add formatted objects to printed string statements.

In [117]:
"My name is {0} and I like to eat {1}".format('John', 'oranges')

'My name is John and I like to eat oranges'

In [118]:
"My name is {name} and I like to eat {food}".format(name='John', food='oranges')

'My name is John and I like to eat oranges'

In [119]:
pi = 3.141615

In [120]:
"The value of Pi is {0:.2f} that is a constant in {1}".format(pi,"mathematincs")

'The value of Pi is 3.14 that is a constant in mathematincs'

In [121]:
# Another way to format strings is passing a tupple

"The value of Pi is %.2f that is a constant in %s" % (pi,"mathematincs")

'The value of Pi is 3.14 that is a constant in mathematincs'

You can find more information about strings formatting in the next links: [[1](https://docs.python.org/2/library/stdtypes.html#string-formatting-operations ), [2](https://docs.python.org/2/library/string.html#format-string-syntax), [3](https://pyformat.info)]

### Other Built-in Methods

expandtabs() will expand tab notations \t into spaces:

In [122]:
"hello\t tomorrow \t ok".expandtabs()

'hello    tomorrow        ok'

In [123]:
"sdsd sfdfsdf dsd ".center(2, "z")

'sdsd sfdfsdf dsd '

```ljust()``` and ```rjust()``` are methods that adds blanck space from the left or right, to match the number of characters give to the method.

In [124]:
"      sasdadfsaf  asdfa asdf a".ljust(40)

'      sasdadfsaf  asdfa asdf a          '

In [125]:
len("      sasdadfsaf  asdfa asdf a".ljust(40))

40

In [126]:
len("      sasdadfsaf  asdfa asdf a")

30

In [127]:
"sdsd sdfsdf sdf dsf".rjust(30)

'           sdsd sdfsdf sdf dsf'

The ```strip()``` method removes the blanks or specifics characters from the extremes of the strings. Also,  ```lstrip()``` and ```rstrip()``` work similarly as ```strip()``` but it removes the blanks/characters from the left or right correspondingly.

In [128]:
'   spacious   '.strip()

'spacious'

In [129]:
'www.example.com'.strip('cmowz.')

'example'

In [130]:
'   spacious   '.lstrip()

'spacious   '

In [131]:
'   spacious   '.rstrip()

'   spacious'

In [132]:
'   spacious   \t \n'.rstrip()

'   spacious'

### "is" Check Methods
The next methods check if the string fullfils certain characteristics. Lets explore them:

isalnum() will return True if all characters in "p" are alphanumeric.

In [133]:
s = "hellow"

In [134]:
s

'hellow'

In [135]:
s.isalnum()

True

In [136]:
k = "2343234asdsad"

In [137]:
k.isalnum()

True

In [138]:
f = "sdsdf asdf 2332"

In [139]:
f.isalnum()

False

```isalpha()``` wil return True if all characters in the string are alphabetic

In [140]:
s.isalpha()

True

In [141]:
k.isalpha()

False

In [142]:
f.isalpha()

False

```islower()``` will return True if all cased characters in the string are lowercase and there is at least one cased character in the string, False otherwise.

In [143]:
s

'hellow'

In [144]:
s.islower()

True

In [145]:
k

'2343234asdsad'

In [146]:
k.islower()

True

In [147]:
f

'sdsdf asdf 2332'

In [148]:
f.islower()

True

```isspace()``` will return True if all characters in string are whitespace.

In [149]:
s.isspace()

False

In [150]:
k.isspace()

False

In [151]:
"  ".isspace()

True

```istitle()``` will return True if string is a title cased string and there is at least one character in string, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [152]:
s.istitle()

False

In [153]:
"Pollution".istitle()

True

In [154]:
"Pollution in London".istitle()

False

<a id="section2.3"></a>
## 2.3 List

__Lists__ are the most versatile data types in Python. Lists can be thought of the most general version of a ```sequence``` in Python. A list contains items separated by commas and enclosed in square brackets ([])—similar to arrays in C. A __List__ is an interable object of Python. All the elemnts belonging to a list can be of different data type. Unlike strings, they are **mutable**, meaning the elements inside a list can be changed.

### Creating a List

In [155]:
# Assign a list to an variable named my_list
my_first_list = [1, 2, 3, 4, 5]

In [156]:
my_first_list

[1, 2, 3, 4, 5]

In [157]:
# It can hold different object types
my_first_list = ['A string',23,100.232,'o']
my_first_list

['A string', 23, 100.232, 'o']

```len()``` function will tell you how many items are in the sequence of the list as for strings.

In [158]:
len(my_first_list)

4

### Slicing & Indexing

It works as in the case of strings. Let's remeber and create another list called "cheeses.

<img src="List.png" alt="jupyter" style="width: 500px;"/>

In [159]:
cheeses = ['Chedar', 'Edam', 'Gouda']

In [160]:
# Getting the elements in the list
cheeses[0]

'Chedar'

In [161]:
cheeses[1]

'Edam'

In [162]:
cheeses[2]

'Gouda'

In [163]:
# Give all exept the one with index 3 (indexes are 0, 1, 2; It means up to the third index that is 2)
cheeses[:3]

['Chedar', 'Edam', 'Gouda']

In [164]:
# Grab index 1 and everything past it
cheeses[1:]

['Edam', 'Gouda']

We can also use "+" to concatenate lists like we did for strings.

In [165]:
cheeses + ["Parmegiano", "Grouyer"]

['Chedar', 'Edam', 'Gouda', 'Parmegiano', 'Grouyer']

In [166]:
# But this action didn't changed the orignal list
cheeses

['Chedar', 'Edam', 'Gouda']

In [167]:
# To make a permanet change in the list we can reassign it
cheeses = cheeses + ["Parmegiano", "Grouyer"]

In [168]:
cheeses

['Chedar', 'Edam', 'Gouda', 'Parmegiano', 'Grouyer']

In [169]:
# Make the list double with * 
cheeses * 2

['Chedar',
 'Edam',
 'Gouda',
 'Parmegiano',
 'Grouyer',
 'Chedar',
 'Edam',
 'Gouda',
 'Parmegiano',
 'Grouyer']

In [170]:
# Doubling is not permanent
cheeses

['Chedar', 'Edam', 'Gouda', 'Parmegiano', 'Grouyer']

In [171]:
len(cheeses)

5

In [172]:
# Adding a new element with index is not possible

cheeses[5] = "Camembert"
cheeses

IndexError: list assignment index out of range

In [173]:
# But you can replace one
cheeses[3] = "Camembert"
cheeses

['Chedar', 'Edam', 'Gouda', 'Camembert', 'Grouyer']

### Nesting Lists
In python we can have data structures within data structures. e.g. A list inside a list.

In [174]:
my_second_list = [1, 2, 3, 4]
my_third_list = [5, 6, 7, 8]
my_fourth_list = [9, 10, 11, 12]

# Make a list of lists to form a matrix
matrix = [my_second_list, my_third_list, my_fourth_list]

In [175]:
# Show
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [176]:
# We can use idexing to get elements from the list, now we there are three levels for indexing.
matrix[0]

[1, 2, 3, 4]

In [177]:
# Getting the fisrt list with index 0 and then the third element of the list chosen.
matrix[0][2]

3

### Basic Buil-in List Methods

Lists in Python tend to be more flexible than arrays in other languages. They have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above). We will see some common methods to manipulate lists.

In [178]:
# Creating a new list
l = [1, 2, 3, 4, 5]

The **append** method permanently *add items at the end* of a list.

In [179]:
l.append("new element")

In [180]:
l

[1, 2, 3, 4, 5, 'new element']

In [181]:
# assigning to another variable
lm = l

In [182]:
lm.append([3, 4])
print(lm)

[1, 2, 3, 4, 5, 'new element', [3, 4]]

The **extend** method extends the list by **appending elements from the iterable**.

In [183]:
lm = [1, 2, 3, 4, 5, 'new element']
lm

[1, 2, 3, 4, 5, 'new element']

In [184]:
lm.extend([3, 4])
print(lm)

[1, 2, 3, 4, 5, 'new element', 3, 4]

Note how extend append each element in that iterable. That is the key difference between these methods.

In [185]:
# show l
l

[1, 2, 3, 4, 5, 'new element', [3, 4]]

The original list was modified as well by *append* even we use the method in "lm". If you do not want that the original list to be modified you need to make a copy. There are two ways: 1) use a slice 2) use the built-in fucntion **list()**.

In [186]:
l = [1, 2, 3, 4, 5, 'new element']
l

[1, 2, 3, 4, 5, 'new element']

In [187]:
# Slicing
lk = l[:]
lk

[1, 2, 3, 4, 5, 'new element']

In [188]:
lk.append("append")

In [189]:
lk

[1, 2, 3, 4, 5, 'new element', 'append']

In [190]:
l

[1, 2, 3, 4, 5, 'new element']

In [191]:
# list()
lm = list(["2", "3", "4"])
lm

['2', '3', '4']

In [192]:
lm.append("append")
lm

['2', '3', '4', 'append']

In [193]:
l

[1, 2, 3, 4, 5, 'new element']

The **pop** method "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off.

In [194]:
# Pop off the 1 indexed item
l.pop(0)

1

In [195]:
l

[2, 3, 4, 5, 'new element']

In [196]:
# Assign the popped element, remember default popped index is -1
pop_item = l.pop

In [197]:
pop_item()

'new element'

In [198]:
# Show remaining list
l

[2, 3, 4, 5]

In [199]:
# The lists indexing will return an error if there is no element at that index. For example:
l[100]

IndexError: list index out of range

The **sort** method and the **reverse** methods can be also used to effect your lists.

In [200]:
other_list = ['a', 'f', 'x', 'z', 'c', 's']

In [201]:
other_list

['a', 'f', 'x', 'z', 'c', 's']

In [202]:
# Use reverse to reverse order (this is permanent!)
other_list.reverse()

In [203]:
other_list

['s', 'c', 'z', 'x', 'f', 'a']

In [204]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
other_list.sort()

In [205]:
other_list

['a', 'c', 'f', 's', 'x', 'z']

As we already seen for strings, the **count** method takes in an element and returns the number of times it occures in your list.

In [206]:
other_list.count("a")

1

**index** will return the index of whatever element is placed as an argument. If the the element is not in the list an error is returned.

In [207]:
other_list.index("z")

5

In [208]:
other_list.index("d")

ValueError: 'd' is not in list

**insert** takes in two arguments: insert(index,object) This method places the object at the index supplied.

In [209]:
# Place a number at the index 2
other_list.insert(3, 4)

In [210]:
other_list

['a', 'c', 'f', 4, 's', 'x', 'z']

**remove** method removes the first occurrence of a value.

In [211]:
other_list.remove(4)

In [212]:
other_list

['a', 'c', 'f', 's', 'x', 'z']

**reverse** reverses a list. Note this occurs in place. Meaning it effects your list permanently.

In [213]:
other_list.reverse()

In [214]:
other_list

['z', 'x', 's', 'f', 'c', 'a']

In [215]:
# Empty list
emtpy_list = []

In [216]:
type(emtpy_list)

list

In [217]:
emtpy_list = list()

In [218]:
type(emtpy_list)

list

<a id="section2.4"></a>
## 2.4 Tuples

A __tuple__ is another sequence data type that is similar to the list. It consists of some values separated by commas and enclosed in parentheses () instead of brackets like lists []. Unlike lists, tuples are immutable meaning they can not be changed or updated. You would use tuples to present things that should not be changed, such as days of the week, or dates on a calendar.

### Constructing Tuples

In [219]:
t = (1, 2, 4, 5)

In [220]:
t

(1, 2, 4, 5)

In [221]:
# We can pass to the function tuple() an iterable with the elements we want in the tuple: tuple(iterable)
u = tuple(["s" ,"f", "g", "a"])

In [222]:
u

('s', 'f', 'g', 'a')

In [223]:
# Check len just like a list
len (t)

4

In [224]:
len(u)

4

In [225]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [226]:
t

('one', 2)

In [227]:
# Use indexing just like we did in lists
t[1]

2

In [228]:
# Slicing 
u[:3]

('s', 'f', 'g')

In [229]:
# Prints list two times
u * 2

('s', 'f', 'g', 'a', 's', 'f', 'g', 'a')

In [230]:
# Prints concatenated tuples
u + t

('s', 'f', 'g', 'a', 'one', 2)

In [231]:
u

('s', 'f', 'g', 'a')

In [232]:
t

('one', 2)

In [233]:
# Empty tupple
empty = ()

In [234]:
type(empty)

tuple

In [235]:
emtpy = tuple()

In [236]:
type(empty)

tuple

## Basic Methods
Tuples have built-in methods, but not as many as lists do.

In [237]:
# To count the number of times a value appears
u.count("a")

1

In [238]:
# To enter a value and return the index
u.index("a")

3

## Inmutability

In [239]:
t[1] = 'change'

TypeError: 'tuple' object does not support item assignment

In [240]:
t.append('none')

AttributeError: 'tuple' object has no attribute 'append'

### When to us tuples?

Tuples are not used as often as lists in programming but are useful when immutability is necessary. If  in your program you need to make sure an object does not get changed, then tuple become your solution. It provides a convenient source of data integrity.

<a id="section2.5"></a>

## 2.5 Dictionaries

Until now we have learnt about *sequences*, but now we will learn about *mapping* in Python. __dictionaries__ are kind of hash table type common in other languages. Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. In the case of mappings, they do not retain order since they have objects defined by a key. A __dictionaries__ work like __associative arrays and consist of key-value pairs__. A key can be almost any Python type but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.
Dictionaries are enclosed by curly braces **{}** and values can be assigned and accessed using square braces [].

<img src="Dict.png" alt="jupyter" style="width: 200px;"/>

### Constructing a Dictionary

In [241]:
# We can make dictionaries in different ways
d1 = dict(one=1, two=2, three=3)
print(d1)
d2 = {'one': 1, 'two': 2, 'three': 3}
print(d2)
d3 = dict(zip(['one', 'two', 'three'], [1, 2, 3])) # We will see more in detail how the zip() function works
print(d3)
d4 = dict([('two', 2), ('one', 1), ('three', 3)])
print(d4)
d5 = dict({'three': 3, 'one': 1, 'two': 2})
d1 == d2 == d3 == d4 == d5

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}
{'two': 2, 'one': 1, 'three': 3}

True

In [242]:
# We make a dictionary with {} and : to signify a key and a value
start_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [243]:
# We can call values of dictionaries by giving the key
start_dict['key1']

'value1'

In [244]:
# The dictionaries are flexible with the data type that they can hold
start_dict = {'key1':34,'key2':[1, 3, 23],'key3':['item0','item1','item2'], 'key4': (4, 5, 6), 'key5': {'key0': 4, 'key1': 5}}

In [245]:
start_dict

{'key1': 34,
 'key2': [1, 3, 23],
 'key3': ['item0', 'item1', 'item2'],
 'key4': (4, 5, 6),
 'key5': {'key0': 4, 'key1': 5}}

In [246]:
#Lets call items from the dictionary
start_dict['key4']

(4, 5, 6)

In [247]:
start_dict['key1']

34

In [248]:
start_dict['key5']

{'key0': 4, 'key1': 5}

In [249]:
# Can call an index on an specific value
start_dict['key4'][0]

4

In [250]:
start_dict['key5']['key0']

4

In [251]:
start_dict['key3'][2]

'item2'

In [252]:
type(start_dict['key3'][2])

str

In [253]:
# We can call methods belonging to the value
start_dict['key3'][2].upper()

'ITEM2'

In [254]:
# We can affect values of keys too
start_dict['key2'][2]

23

In [255]:
start_dict['key2'][2] = start_dict['key2'][2] + 43

In [256]:
start_dict['key2'][2]

66

In [257]:
# We can perform the same by using the built-in method for doing self subtraction 
# or addition += or -= (or multiplication or division).
start_dict['key2'][2] -= 43

In [258]:
start_dict['key2'][2]

23

We can also create keys by assignment. For instance, we can create an empty dictionary, we could continually add keys and values to it.

In [259]:
# Create an empty dictionary
d5 = {}

In [260]:
# Create a new key through assignment
d5['Dog'] = 'Big'

In [261]:
d5

{'Dog': 'Big'}

In [262]:
d5['Food'] = 'meet'

In [263]:
d5

{'Dog': 'Big', 'Food': 'meet'}

What happen if we assing an existing dictionary to another varialbe, and we modify the keys and values of the latter? The original dictionary will be modified as well?

In [264]:
d6 = d5

In [265]:
d6

{'Dog': 'Big', 'Food': 'meet'}

In [266]:
d6['Cat'] = 'small'

In [267]:
d5

{'Dog': 'Big', 'Food': 'meet', 'Cat': 'small'}

In [268]:
d6['Cat'] = 'Small'

In [269]:
# The original dictinary was modified as well
d5

{'Dog': 'Big', 'Food': 'meet', 'Cat': 'Small'}

In [270]:
# If we do not want to modify the original dictionary we can create a copy
d7 = d5.copy()

In [271]:
d7

{'Dog': 'Big', 'Food': 'meet', 'Cat': 'Small'}

In [272]:
# Adding a new key and value
d7['Horse'] =  'Mamal'

In [273]:
# Checking the new original dictionary 
d5

{'Dog': 'Big', 'Food': 'meet', 'Cat': 'Small'}

In [274]:
# Checking the keys and values of copy
d7

{'Dog': 'Big', 'Food': 'meet', 'Cat': 'Small', 'Horse': 'Mamal'}

In [275]:
# We can delete key 
del d7['Cat']

In [276]:
d7

{'Dog': 'Big', 'Food': 'meet', 'Horse': 'Mamal'}

In [277]:
# We can use some operations that return False or True if the key provided exist (key in dictionary)
'Food' in d7

True

In [278]:
# key not in dictionary)
'Monkey' not in d7

True

### Nesting dictionaries

In [279]:
# Dictionary nested inside a dictionary nested in side a dictionary
d8 = {'key1':{'nestkey':{'subnestkey':{'subsubnested': 'value'}}}}
d8

{'key1': {'nestkey': {'subnestkey': {'subsubnested': 'value'}}}}

In [280]:
# We can call the keys to grab the value
d8['key1']['nestkey']['subnestkey']['subsubnested']

'value'

### Built-in Methods

In [281]:
# We have the dictionary
d7

{'Dog': 'Big', 'Food': 'meet', 'Horse': 'Mamal'}

In [282]:
# Method to return a list of all keys 
d7.keys()

dict_keys(['Dog', 'Food', 'Horse'])

In [283]:
# Return the value for key if key is in the dictionary. 
d7.get('Dog')

'Big'

In [284]:
#  We can pass an argument so that this method never raises a KeyError when keyword is not in dictionary.
d7.get('Monkey')

In [285]:
# If the second argument is not given, it defaults to None. Otherwise, anythng we decide to return.
d7.get('Monkey', False)

False

In [286]:
# Method to grab all values
d7.values()

dict_values(['Big', 'meet', 'Mamal'])

In [287]:
# Method to return tuples of all items in a list
d7.items()

dict_items([('Dog', 'Big'), ('Food', 'meet'), ('Horse', 'Mamal')])

In [288]:
# pop(key[, default]):If key is in the dictionary, remove it and return its value, else return default. 
# If default is not given and key is not in the dictionary, a KeyError is raised.
d7.pop('Food')

'meet'

In [289]:
d7

{'Dog': 'Big', 'Horse': 'Mamal'}

In [290]:
# Remove and return an arbitrary (key, value) pair from the dictionary.
d7.popitem()

('Horse', 'Mamal')

In [291]:
d7

{'Dog': 'Big'}

In [292]:
# update() accepts either another dictionary object or an iterable 
# of key/value pairs (as tuples or other iterables of length two). 
d7.update([('one', 2)])

In [293]:
d7

{'Dog': 'Big', 'one': 2}

In [294]:
# setdefault(key[, default]) If key is in the dictionary, return its value. 
# If not, insert key with a value of default and return default. default defaults to None.
d7.setdefault('Dog')

'Big'

In [295]:
d7.setdefault('Cat', 4)

4

In [296]:
d7

{'Dog': 'Big', 'one': 2, 'Cat': 4}

In [300]:
# Return a new view of the dictionary’s items ((key, value) pairs). 
d7.items()

dict_items([('Dog', 'Big'), ('one', 2), ('Cat', 4)])

In [301]:
# Return a new view of the dictionary’s keys.
d7.keys()

dict_keys(['Dog', 'one', 'Cat'])

In [302]:
# Return a new view of the dictionary’s values
d7.values()

dict_values(['Big', 2, 4])

### Zip() function

**zip()** makes a list(iterator) that aggregates elements from each of the iterables. Returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterable.

In [309]:
x = [1, 2, 3]
y = [4, 5, 6]

# Zip the lists together
zip(x,y)

Note how tuples are returned. What if one iterable is longer than the other?

In [310]:
x = [1, 2, 3]
y = [4, 5, 6, 7, 8]

# Zip the lists together
zip(x, y)

**zip** is defined by the shortest iterable length. Its generally advised not to zip unequal length iterables unless your very sure you only need partial tuple pairings.

What happens if we try to zip together dictionaries? Remember that dictionaries are not iterables, but zip will "kind of" iterate just over the keys.

In [311]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 4,' d': 5}

zip(d1, d2)

We would have to call methods to mix keys and values:

In [312]:
zip(d2,d1.values())

<a id="practise"></a>

# A quick practice!

In [313]:
# Given the string 'Hello Python' give an index command that returns 'y'. Use the code below:
s = 'Hello Python'
# Code here

In [314]:
# Reverse the string using indexing

In [315]:
# Give two methods of producing the letter 'l' using indexing.
#Method 1

In [316]:
# Method 2

In [317]:
# Build this list [0,0,0] using two different methods
# Method 1

In [318]:
# Method 2

In [319]:
# Reassign 'Python' in this nested list to say 'Java' item in this list.
l = ['a', 'b',[3, 4,'Python']]

In [320]:
# Using keys and indexing, grab the 'Python' from the following dictionary

d = {'First_key':[{'Nest_key':['Deep_key',['Python']]}]}

Q: Can you sort a dictionary? Why or why not?
R:

Q: What is the major difference between tuples and lists?
R:

In [321]:
# How do you create a tuple?

In [322]:
# Final Question: What is the boolean output of the cell block below? Guess before running the code
# two nested lists
list_one = [5, 6,[7, 4]]
list_two = [1,2,{'key':4}]

#True or False?
list_one[2][0] >= list_two[2]['key']

True